@{
    ViewData["Title"] = "Task";
}


@if (ViewBag.Plus != null)
{
    <p>Количество плюсов</p>
    <span>@ViewBag.Plus</span>
    <br />
}
<form onsubmit="submitForm()" id="formid" method="post">
    <br />
    <label>
        Введите размер квадратной матрицы от 3 до 2000
    </label>
    <input type="number" id="countRowColumn" name="count" required min="3" max="2000" onchange="checkMultiplicity()" />
    <br />
    
</form>

<script>
    var form = document.getElementById('formid');
    var arr = new Array();
    function submitForm() {        
        event.preventDefault();
        var isValidForm = false;
        var countRowColum = document.getElementById("countRowColumn");
        var row = document.getElementsByName("matrix");
        for (var i = 0; i < row.length; i++) {
            if (row[i].value.length != countRowColum.value) {
                isValidForm = false;
                alert("Длина полей должна быть равна указанному числу!");
                break;
            }
            for (var j = 0; j < row[i].value.length; j++) {
                if (row[i].value[j] == 0 || row[i].value[j] == 1) {
                    console.log(row[i].value[j]);
                    isValidForm = true;
                    continue;
                }
                else {
                    alert("Все поля должны быть заполнены либо 1 либо 0!");
                }                    
            }
        }
        if (isValidForm) {
            form.submit();
        }
    }
    function checkMultiplicity() {
        var count = document.getElementById('countRowColumn').value;
        for (var i = 0; i < arr.length; i++) {
            form.removeChild(arr[i]);
        }
        arr = new Array();        
        if (count >= 3 && count <= 2000) {
            var br = document.createElement('br');
            form.appendChild(br);
            arr.push(br);
            var label = document.createElement('label');
            label.textContent = "Введите стоку состоящую из 1 и 0 равную размеру квадратной матрицы";
            form.appendChild(label);
            arr.push(label);
            var br = document.createElement('br');
            form.appendChild(br);
            arr.push(br);
            for (var i = 0; i < count; i++) {
                var br = document.createElement('br');
                form.appendChild(br);
                var input = document.createElement('input');
                input.type = "number";
                input.required = true;
                input.name = "matrix";
                form.appendChild(input);
                arr.push(br);
                arr.push(input);
            }
            var br = document.createElement('br');
            form.appendChild(br);
            var input = document.createElement('input');
            input.type = "submit";
            input.textContent = "Send";
            form.appendChild(input);
            arr.push(input);
            arr.push(br);
        }
    }
</script>